<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link href="/dashboard.css" rel="stylesheet">
        {% block stylesheets %}
        	<!-- Custom styles for this template -->
    	<link href="/modal.css" rel="stylesheet">
    	{% endblock %}
    </head>
    <body>
    	
    	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
	      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">Young Caritas</a>
	      <ul class="navbar-nav px-3">
	        <li class="nav-item text-nowrap">
	        	
	        	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	        		<a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>        		
	        	{% else %}
	        		<a class="nav-link" href="{{ path('login') }}">Connexion</a>
	        	{% endif %}
	        </li>
	      </ul>
	    </nav>
           	<div class="container-fluid">
		      <div class="row">
		        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
		          <div class="sidebar-sticky">
		          	<ul class="nav flex-column">
		              <li class="nav-item">
		                <a class="nav-link active" href="{{ path('home') }}">
		                  <span data-feather="home"></span>
		                  Distribution
		                </a>
		              </li>
		              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
		              <li class="nav-item">
		                <a class="nav-link" href="{{ path('adherent') }}">
		                  <span data-feather="file"></span>
		                  Adhérents
		                </a>
		              </li>
		              {% if is_granted('ROLE_ADMIN') %}
		              <li class="nav-item">
		                <a class="nav-link" href="{{ path('benevoles') }}">
		                  <span data-feather="users"></span>
		                  Bénévoles
		                </a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" href="{{ path('home') }}">
		                  <span data-feather="bar-chart-2"></span>
		                  Rapports
		                </a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" href="/admin">
		                  <span data-feather="bar-chart-2"></span>
		                  Administration
		                </a>
		              </li>
		              {% endif %}
		              {% endif %}
		            </ul>
		          </div>
		        </nav>

		        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
		        	{% block body %}
					{% endblock %}
		        </main>
		      </div>
		    </div>
		    <!-- JQuery & Bootstrap -->
	        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			<!-- Icons -->
		    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
		    <script>
		      feather.replace()
		    </script>
		    <!-- Graphs -->
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
